{% extends 'base/main.html' %}
{% block content %}
<div class="login-form">
    <div class="header-bar">
        <div class="login-text">
            <h1 class="logo-auth">Panna</h1>
            <h1 class="login-text">Hello Again</h1>
            
            <p class="login-p">Welcome back you've been missed</p>
        </div>
    </div>
    <hr>
    <div class="card-body">
        <form method="POST" >
            {% csrf_token %}
            {{form.as_p}}
            <input class="button" type="submit" value="Login">
        </form>
        <p class="account-checker">Don't have an account? <a href="{% url 'register' %}">Register</a></p>
    </div>

</div>
{% endblock content %}