{% extends 'base/main.html' %}
{% block content %}

<div class="signup-form">
    <div class="header-bar">
        <div class="login-text">
            <h1 class="logo-auth">Panna</h1>
            <h1 class="sign-up-h1">HI</h1>
            <p class="sign-up-p">Sign Up for free</p>
    </div>
    </div>

    <div class="card-body">
        <form method="POST">
            {% csrf_token %}
            <label>{{form.username.label}}</label>
            {{form.username}}
            <br>
            <br>
            <label>{{form.password1.label}}</label>
            {{form.password1}}
            <br>
            <br>
            <label>{{form.password2.label}}</label>
            {{form.password2}}
            <br>
            <br>
            <input class="button" type="submit" value="Register">
        </form>
        <p class="account-checker">Already have an account? <a href="{% url 'login' %}">Login</a></p>
    </div>

</div>


{% endblock content %}